<div class="row-fluid row-no-padding h3">
	<div class="col-md-8">
		{{event.name}}
	</div>
	<div class="col-md-4 text-right">
		<button class="btn btn btn-default" ng-click="edit()" data-ng-disabled="!editable">
			<i class="fa fa-file-text-o" aria-hidden="true"></i>
			<span class="sr-only">Edit..</span>
		</button>
	</div>
</div>
<pre>
<b>Name</b>: {{event.name}}
<b>Description</b>: {{event.description}}
<b>Range</b>: {{event.range}} {{event.rangeUnit}}
<b>Step</b>: {{event.step}} {{event.stepUnit}}
<b>Parameters</b>: {{event.params}}
<b>SPARQL clause</b>:
{{event.sparqlWhere}}
</pre>
